<a href="https://colab.research.google.com/github/JandreiSS/analise-fundamentalista/blob/master/An%C3%A1lise_Fundamentalista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import string
import requests
import warnings
warnings.filterwarnings('ignore')

In [ ]:
url = 'http://fundamentus.com.br/resultado.php'

In [ ]:
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

In [ ]:
r = requests.get(url, headers=header)

In [ ]:
dflist = pd.read_html(r.text, thousands='.', decimal=',')[0]

In [ ]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
  dflist[coluna] = dflist[coluna].str.replace('.', '')
  dflist[coluna] = dflist[coluna].str.replace(',', '.')
  dflist[coluna] = dflist[coluna].str.rstrip('%').astype('float') / 100

In [ ]:
dflist

     Papel  Cotação      P/L  ...   Patrim. Líq  Dív.Brut/ Patrim.  Cresc. Rec.5a
0    CFLU4  1000.00     0.00  ...  6.035100e+07               0.06         0.0814
1    CLAN3     0.00     0.00  ...  1.012240e+09               0.00        -0.6396
2    CLSC6     0.00     0.00  ...  1.551160e+09               0.00         0.0666
3    CSTB3   150.00     0.00  ...  8.420670e+09               0.14         0.3191
4    CSTB4   147.69     0.00  ...  8.420670e+09               0.14         0.3191
..     ...      ...      ...  ...           ...                ...            ...
882  CEPE6    20.00  1545.85  ...  1.667000e+09               3.36         0.0863
883  CEPE3    24.53  1895.99  ...  1.667000e+09               3.36         0.0863
884  CEPE5    27.00  2086.90  ...  1.667000e+09               3.36         0.0863
885  BRAP3    34.27  2114.74  ...  1.052240e+10               0.00         0.0000
886  BRAP4    37.56  2317.76  ...  1.052240e+10               0.00         0.0000

[887 rows x 21 columns]

#<strong>Analisando Dados</strong>

In [ ]:
df = dflist[dflist['Liq.2meses'] > 1000000]

<p><strong>Enterprise Value / Earnings Before Interest and Taxes</strong></p>
<p>(Valor do Negócio / Lucro Antes dos Juros e Taxas)</p>

In [ ]:
ranking = pd.DataFrame()
ranking['Position'] = range(1,151)
ranking['EV/EBIT'] = df[df['EV/EBIT'] > 0].sort_values(by=['EV/EBIT'])['Papel'][:150].values
ranking['ROIC'] = df.sort_values(by=['ROIC'], ascending=False)['Papel'][:150].values

In [ ]:
ranking

     Position EV/EBIT   ROIC
0           1   PSSA3  WIZS3
1           2   SMLS3  PSSA3
2           3   ENAT3  TOTS3
3           4   WIZS3  ODPV3
4           5   VALE3  SMLS3
..        ...     ...    ...
145       146   RADL3  JHSF3
146       147   LOGG3  CAML3
147       148   PTBL3  BRKM5
148       149   PNVL3  LOGG3
149       150   PRNR3  GFSA3

[150 rows x 3 columns]

Cálculo utilizando o rankeamento pela Fórmula Mágica: Buscar o papel, pegando a posição que ele tem no EV/EBIT e somando a posição que ele tem no ROIC. Quanto menor, melhor

In [ ]:
auxA = ranking.pivot_table(columns='EV/EBIT', values='Position')
auxB = ranking.pivot_table(columns='ROIC', values='Position')
t = pd.concat([auxA, auxB])

In [ ]:
t

          AALR3  ABEV3  AGRO3  ALPA4  ALSO3  ...  EZTC3  HAPV3  LWSA3  MGLU3  WEGE3
Position  114.0   88.0   68.0  138.0   81.0  ...    NaN    NaN    NaN    NaN    NaN
Position  141.0   15.0   84.0   20.0  131.0  ...  117.0   71.0   99.0  107.0   11.0

[2 rows x 154 columns]

In [ ]:
rank = t.dropna(axis=1).sum().sort_values()
rank[:15]

PSSA3      3.0
WIZS3      5.0
SMLS3      7.0
SAPR4     21.0
SAPR11    21.0
VALE3     23.0
SAPR3     23.0
LEVE3     31.0
EQTL3     33.0
MRFG3     35.0
ALUP11    35.0
BEEF3     35.0
CVCB3     50.0
TGMA3     50.0
ENAT3     52.0
dtype: float64