<a href="https://colab.research.google.com/github/JandreiSS/Analise-Fundamentalista/blob/master/DataFrame_bolsa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import string
import requests
import warnings
warnings.filterwarnings('ignore')
from concurrent.futures import ThreadPoolExecutor, as_completed
from tqdm import tqdm

In [ ]:
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

In [ ]:
url = 'http://fundamentus.com.br/resultado.php'

In [ ]:
r = requests.get(url, headers=header)

In [ ]:
df = pd.read_html(r.text)[0]

In [ ]:
df = df.loc[:,['Papel']]

In [ ]:
def get(url, timeout):
    return requests.get(url, headers=header, timeout = timeout)

In [ ]:
def requestUrls(urls, timeout = 5):
    with ThreadPoolExecutor(max_workers = 3) as executor:
        agenda = { executor.submit(get, url, timeout): url for url in urls }

        for tarefa in as_completed(agenda):     
            try:
                conteudo = tarefa.result()
            except Exception as e:
                print ("Não foi possível fazer a requisição! \n{}".format(e))
            else:
                yield conteudo

In [ ]:
urls = 'https://www.fundamentus.com.br/detalhes.php?papel=' + df['Papel'].values

In [ ]:
requisicoes = requestUrls(urls, timeout=30)

In [ ]:
lista_empresas = []

In [ ]:
total_ticket = len(df)

In [ ]:
for requisicao in tqdm(requisicoes, unit=' urls', desc='Loading: ', disable=False, total=total_ticket):
    # codigo = requisicao.status_code
    # url = requisicao.url
    conteudo = requisicao.content
    lista_empresas += [conteudo]
    # print (f'{codigo}: {url}')

In [ ]:
# dados[0].to_csv('dados.csv', index=False)

# Transformar os dados para as colunas, para depois exportar em CSV

In [48]:
colunas = [
    'Papel',
    'Empresa',
    'Setor',
    'Subsetor',
    'Cotação',
]

In [51]:
tabela_base = pd.DataFrame(columns=colunas)

In [52]:
for key in range(len(lista_empresas)):
    dados_base = pd.read_html(lista_empresas[key])
    papel = dados_base[0][1][0]
    empresa = dados_base[0][1][2]
    setor = dados_base[0][1][3]
    subsetor = dados_base[0][1][4]
    cotacao = dados_base[0][3][0]
    to_append = [papel, empresa, setor, subsetor, cotacao]
    tabela_base_length = len(tabela_base)
    tabela_base.loc[tabela_base_length] = to_append

In [53]:
# lista_dados_tabela0
tabela_base

,Papel,Empresa,Setor,Subsetor,Cotação
0,VNET3,CIELO ON NM,Serviços Financeiros Diversos,Serviços Financeiros Diversos,000
1,CFLU4,COCA COLA PN,NaN,NaN,1.00000
2,CLAN3,CLARION ON,Alimentos,Grãos e Derivados,000
3,CLSC6,CELESC PNB N2,Energia Elétrica,Energia Elétrica,000
4,CSTB3,COMPANHIA SIDERÚRGICA DE TUBARÃO ON,NaN,NaN,15000
...,...,...,...,...,...
882,CEPE6,CELPE PNB,Energia Elétrica,Energia Elétrica,2000
883,CEPE3,CELPE ON,Energia Elétrica,Energia Elétrica,2453
884,CEPE5,CELPE PNA,Energia Elétrica,Energia Elétrica,2700
885,BRAP3,BRADESPAR S/A ON N1,Holdings Diversificadas,Holdings Diversificadas,3625
886,BRAP4,BRADESPAR S/A PN N1,Holdings Diversificadas,Holdings Diversificadas,3998

In [32]:
dados[0]

           0                              1                2    3
0     ?Papel                          VNET3         ?Cotação  000
1      ?Tipo                          ON NM    ?Data últ cot    -
2   ?Empresa                    CIELO ON NM      ?Min 52 sem  000
3     ?Setor  Serviços Financeiros Diversos      ?Max 52 sem  000
4  ?Subsetor  Serviços Financeiros Diversos  ?Vol $ méd (2m)    0

In [39]:
# lista_dados_tabela0 = []
# lista_dados_tabela0 = [dados_base[key][1][0], dados_base[key][1][2], dados_base[key][1][3], dados_base[key][1][4], dados_base[key][3][0]]
papel = dados_base[0][1][0]
papel

'CFLU4'

In [ ]:
transforma_dados = pd.DataFrame()
# transforma_dados['Papel'] = df['Papel'].values
# transforma_dados['Empresa'] =

In [ ]:
transforma_dados

In [ ]:
len(transforma_dados)